<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/anglarjs/1.6.9/anglar.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="">

    <p>Name: <input type="text" ng-model="name"></p>
    <p>You wrote: {{ Name }}</p>

</div>

<style>
    body {
      background-color: lightblue;
    }

    h1 {
      color: white;
      text-align: center;
    }

    p {
      font-family: verdana;
      font-size: 20px;
      /*font-color:blue;*/
    }
</style>

    <h2>Cost Calculator </h2>
  <P>My 1st Trial</P>
    <p>
       <b> CLEANUP MODEL OF ANGLUR PLATFORM</b><br></be> <br>
        1)ng-app :<br>
        2)ng-init :<br>
        3)ng-model :<br>

<div ng-app="myApp" ng-controller="myCtrl">

    <b>YOU</b>: <input type="text" ng-model='firstName'><br><br>
    <b>WITH YOU</b>: <input type="text" ng-model='lastName'><br>
    <br>
    Full Name: {{firstName + " " + lastName}}

</div>


        <h2>Frontend devolopement</h2>
        <b>.</b>javascript<br>
        <b>.</b>java<br>
        <b>.</b>html<br>
        <b>.</b>css<br>
    </p>


</body>
</html>